#housing_table label{
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1em
}
#housing_table .buildings-list label{
  font-size: 0.8em;
}
.group-room-summary {
  font-size: 0.6em;
}
#loader {
  position: fixed;
  bottom: 120px;
  right: 45px;
  background: rgba(170,170,170,0.6);
  font-size: 2em;
  color: #fff;
  font-family: sans-serif;
  display: none;
  padding: 10px 50px;
}
#housing_table{
  min-height:500px;
}
#housing_table table{
  width:100%;
}
#housing_table h4{
  font-size: 16px;
}
#loader.active{
  display:initial;
}
.expand-collapse-all{
  text-align: right;
}
.last-updated-container{
  font-size: 1em;
  line-height: 1em;
  position: fixed;
  bottom: 0;
  /*right: 50%;*/
  right: 2%;
  padding: 5px 5px 0;
  background-color: #E2E2E2;
  /*background-color: rgba(218,218,218,0.80);*/
  width: 260px;
  text-align: center;
  /*margin-right: -150px;*/
  z-index: 100;
}
.last-updated-container span.last-updated{
  display: block;
  margin: 10px 20px;
}
.last-updated-container .loader{
  margin: 10px 0 10px 40px;
  overflow: auto;
  font-size: 0.8em;
}
.last-updated-container .spinner{
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
}
.last-updated-container p{
  float: left;
  line-height: 1em;
  text-align: left;
  margin-left: 5px;
}
.last-updated-container .double-bounce1, .last-updated-container .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.last-updated-container .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.booked {
  text-decoration: line-through;
  color:#999;
}
.filters-active{
  font-style: italic;
  color: #FF0000;
  font-size: 0.5em;
}
.filter-container{
  overflow: hidden;
  padding: 1em;
  background-color: #E4F0F7;
  border: solid 1px #0B2A3E;
  max-width: 90%;
  margin: 30px auto;
  position: relative;
}
.filter-expand{
  background-color: #C5D1D8;
  text-align: center;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 16px;
}
.filter-expand .glyphicon{
  margin: 0 10px;
}
#housing_table .filter-container h2{
  font-size: 1.2em;
}
.filter-container .bu_collapsible_section{
  padding: 0 0 40px 0;
  border-left: none;
  overflow: hidden;
  margin: 0;
}
.filter-group{
  float: left;
  width: 33%;
}
.filter-group.specialty{
  display: block;
  clear:left;
  width: 100%;
}
.filter-group label{
  font-weight: normal;
  display: block;
}
.filter-group.unit-type .filter-box {
  float: left;
  width: 50%;
}
.filter-group.specialty .filter-box {
  float: left;
  width: 33%;
  display: block;
  height: 42px;
}
.filter-group.specialty .filter-box label{
  padding-right: 10px;
  margin-left: 18px;
}
.filter-group.specialty .filter-box label input{
  margin-left: -16px;
}
.filter-group.unit-type .filter-box label{
  padding-right: 2px;
}
.bu_collapsible_container .bu_collapsible{
  background: none;
  padding: 0;
  /*font-size: 1.5em;*/
}
.headers-sticky thead th {
    padding-top: 20px;
}
#housing_table h3{
  font-size: 1.2em;
}
#housing_table h2{
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
  font-weight: 400;
  font-family: "Benton-Sans", Helvetica, Arial, sans-serif;
  color: #23465b;
  -moz-transition:    all 0.1s ease-in;
  -o-transition:      all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition:         all 0.1s ease-in;
}
#housing_table h2:hover{
  text-decoration: none;
  color: #6289A0;
  -moz-transition:    all 0.1s ease-in;
  -o-transition:      all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition:         all 0.1s ease-in;
}
#housing_table table{
  font-size: 1em;
}
.buildings-list{
  margin-bottom: 10px;
}
.buildings-list h3 a{
  font-size: 0.9em;
}
.buildings-list .glyphicon:before{
  vertical-align: middle;
  font-size: 0.8em;
  margin-right: 0.3em;
}
.buildings-list h3{

}
.buildings-list ul label{
  margin-left:18px;
}
.buildings-list ul label input{
  margin-left: -18px;
}
.buildings-list ul{
  margin: 0;
  padding: 0;
  overflow: auto;
  margin-left: 0;
}
.buildings-list ul li {
  list-style-type: none;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  width: 170px;
  left: 0;
  line-height: 1.2em;
}
#content .main{
  width: 1200px;
  margin: auto;
  max-width: 90%;
}
#content .main .container{
  width: 100%;
}
.unit-row{
  cursor: pointer;
}
.unit-row>tr>td{
  padding: 10px 0;
}
.unit-row.expanded td{
  border-bottom: none;
}
.unit-row.expanded>tr:first-child{
  background-color: #FEFFC8;  
}
.unit-row.expanded>tr:nth-child(n+2){

}
.area-header-row>tr>th:first-child,
.unit-row>tr>td:first-child{
  padding-right: 0 10px;
}
.area-header-row>tr>th:nth-child(n+3),
.unit-row>tr>td:nth-child(n+3){
  text-align:center;
}
#content .unit-details td{
  padding: 0 0 1em;
}
#content .unit-details-inner{
  width: 100%;
  height: 100%;
  background: #E5E5E5;
  background: -moz-linear-gradient(top, rgba(180,180,180,1) 0%, rgba(229,229,229,1) 12%, rgba(229,229,229,1) 12%);
  background: -webkit-linear-gradient(top, rgba(180,180,180,1) 0%,rgba(229,229,229,1) 12%,rgba(229,229,229,1) 12%);
  background: linear-gradient(to bottom, rgba(180,180,180,1) 0%,rgba(229,229,229,1) 12%,rgba(229,229,229,1) 12%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e5e5e5',GradientType=0 );
  margin-bottom: 10px;
  overflow: auto;
}
#content .unit-details h4{
  margin: 1em 2em 0.5em;
}
#content .unit-details ul{
  margin: 0 2em 1em;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}